body{
    height: 90vh;
    width: 98vw;
    background-color: rgb(224, 161, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 35vw;
    height: 60vh;
    background-color: rgb(138, 100, 50);
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.buttons{
    display: flex;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.inputs input{
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
}

#btn{
    width: 4vw;
    height: 4vh;
    border-radius: 7px;
    cursor: pointer;
}

#btn2{
    width: 6vw;
    height: 4vh;
    border-radius: 7px;
    cursor: pointer;
}
.text{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start; */
    text-align: start !important;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 10px;
}

.text i{
    margin-left: 20px;
    cursor: pointer;
}